

.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    .content {
        height: 96%;
        padding: 1rem;
        width: 1000px;
        height: 50px;
        margin: 0 auto;
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
    }
}